Mlcourse_open/data/stackoverflow_sample_125k.tsv
Mlcourse_open/solutions_session2
Mlcourse_open/session1_homeworks_solutions
Mlcourse_open/Week5__bagging/[solution]_hw5_session2_rf_logit_scoring_texts_solution.ipynb
Mlcourse_open/Week4__linear_model/[solution]_hw4_session2_stackoverflow_logistic_regression.ipynb
Mlcourse_open/Week3__decision_trees_knn/[solution]_lesson3_practice_trees_titanic.ipynb
